body {
    font-size: 16px
  }

  h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: pink
  }

  p {
    font-weight: 600;
    font-size: 3em;
  }

  ul {
    background-color: palegoldenrod;
    line-height: 2em;
  
  }

  .color-background {
    background-color: palegreen;
  }

  #yellow {
    background-color: yellow;
  }

  #red {
    background-color: red;
  }

  #brown {
    background-color: brown;
  }